{% include 'base/base.html' %}

{% block body %}
  <body>

    {% block header %}
    {% endblock %}

    {% block content %}
      <div class="row">
        <div class="row col s12"></div>
        <div class="row col s4"></div>
        <div class="row col s4">
          <form class="col s12">
            <div class="input-field col s12">
              <input id="login" placeholder="Login" type="text" class="validate">
              <label for="login" class="active">Логин:</label>
            </div>
            <div class="input-field col s12">
              <input id="password" type="password" placeholder="Password" class="validate">
              <label for="password" class="active">Пароль:</label>
            </div>
            <div class="col s12">
              <button class="btn waves-effect waves-light" type="submit" name="action">Вход</button>
            </div>
          </form>
        </div>
        <div class="row col s4"></div>
      </div>
    {% endblock %}

    {% block footer %}
    {% endblock %}
  
  </body>
{% endblock %}