<!DOCTYPE html lang="ru">
{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="language" content="ru-RU">
        {% block title %}{% endblock %}

        {% block load_static %}
            {% include 'base/statics.html' %}
        {% endblock %}
    </head>
{% endblock %}

{% block body %}
    <body>
	{% block navbar %}
		{% include 'base/navbar.html' %}
	{% endblock %}
    {% block header %}
        {% include 'base/header.html' %}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
        {% include 'base/footer.html' %}
    {% endblock %}
    </body>
{% endblock %}
</html>