{% load static %}

<script src="{% static 'js/home/index.js' %}"></script>

<footer class="page-footer light-blue">
          <div class="container">
            <div class="row">

              <div class="col l4 offset-l2 s12 left" style="padding-left:50px;">
                <h5 class="white-text">Ссылки в Сибирь</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Сибирь 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Сибирь 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Сибирь 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Сибирь 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright  light-blue darken-1">
            <div class="container">
            
            <a class="grey-text text-lighten-4 right" href="#!">Имя автора</a>
            </div>
          </div>
</footer>