{% load static %}

<nav>
    <div class="nav-wrapper blue">
        <a href="#" data-activates="slide-out" class="button-collapse">
            <i class="medium material-icons white-text">menu</i></a>
        <a href="#" class="brand-logo">LiveLib</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href=""><i class="material-icons left">book</i>Книги</a></li>
            <li><a href=""><i class="material-icons left">bookmark</i>Закладки</a></li>
            <li><a href=""><i class="material-icons left">speaker_notes</i>Рецензии</a></li>
            <li><a href="{% url 'index:login' %}"><i class="material-icons left">lock</i>Вход</a></li>
        </ul>
    </div>
</nav>
