{% load static %}


  <div class="row">
    <form class="col s12 blue">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">Логин</label>
        </div>
		<div class="input-field col s6">
          <input id="password" type="password" class="validate">
          <label for="password">Пароль</label>
        </div>
      </div>
      <div class="row">
        
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
	  <!-- Ава -->
	  <div class="file-field input-field">
      <div class="btn">
        <span>Аватарка</span>
        <input type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

    </form>
  </div>
        