{% load static %}

<link rel="stylesheet" href="{% static 'css/home/header.css' %}">

<ul id="slide-out" class="side-nav z-depth-3">
    {% if request.user.is_authenticated %}
        <li>
            <div class="userView">
                <center><img src="{% static 'img/logo.png' %}"></center>
                <a href="#!user"><img class="circle" src="#"></a>
                <a href="#!name"><span class="name">{{ user_info.nickname }}</span></a>
                <a href="#!email"><span class="email">{{ user_info.email }}</span></a>
            </div>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="#!" class="waves-effect">Профиль</a></li>
        <li><a href="#!" class="waves-effect">Выход</a></li>
    {% else %}
        <li><a class="waves-effect" href="#!">Вход</a></li>
    {% endif %}
</ul>
<a href="#" data-activates="slide-out" class="button-collapse" style="position:absolute; z-index:2; background-color:black;">
    <i class="medium material-icons white-text">menu</i></a>

<!--
<div class="parallax-container" style="height:300px;">
    <div class="parallax"><img src="img/parallax.jpg"></div>
</div>
-->
