{% load static %}
<!-- Scripts -->
<script src="{% static 'assets/jquery/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'assets/materialize/materialize.min.js' %}"></script>
<!-- CSS -->
<link href="{% static 'assets/materialize/materialize.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!-- Fonts -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">