{% extends 'base/base.html' %}

{% block content %}
  
    <div class="row">

      <div class="col s12 m12 l3">
        <!-- left -->
		 <img class="materialboxed center" data-caption="The Crawling Terror" src="https://i.livelib.ru/boocover/1001102546/o/c768/Mike_Tucker__The_Crawling_Terror.jpeg">
      </div>

      <div class="col col s12 m12 l9 center">
		<div class="left">
		<h2><span class="blue-text left">Доктор Кто. Крадущийся ужас</span></h2>
	  <table>
        <thead>
          <tr>
              <th></th>
              <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Издательство</td>
            <td>АСТ</td>
          </tr>
		  <tr>
            <td>Год издания</td>
            <td>2016</td>
          </tr>
		  <tr>
            <td>Описание</td>
            <td>Небольшой город в графстве Уилтшир охвачен неподдельным ужасом – по улицам ходят, ползут и крадутся гигантских размеров насекомые. Жители теряются в догадках о происхождении этих монстров. Деревня в один миг становится оторванной от остального мира территорией. Именно сюда и перемещается ТАРДИС вместе с Доктором и Кларой Освальд. Но Доктора волнуют не жуткие твари. Он понимает: пока он не расшифрует странные символы на древних камнях и не разгадает одну из тайн времени Второй мировой, жители городка остаются в роковой опасности. 
          </tr>
		  <tr>
            <td>Жанр</td>
            <td>Фантастика</td>
          </tr>
		  <tr>
            <td>Кол-во страниц</td>
            <td>Много</td>
          </tr>
		  <tr>
            <td>Купить</td>
            <td><a href="http://www.ozon.ru/context/detail/id/135026060/?utm_source=livelibru&utm_medium=partner">Ozon.ru</a></td>
          </tr>
		  
        </tbody>
      </table>
		</div>
        <!-- right  -->
	  </div>

    </div>

{% endblock %}